.features-section {
  text-align: center;
  padding: 80px 20px;
}
.Investing {
  max-width: 57.25rem;
  text-align: center;
  background-color: #fbfbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 80vh;
  border-radius: 1.875rem;
}

.features-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  margin-top: 1.25rem;
}

.features-title span {
  background: linear-gradient(to right, #4c74c5, #eab633);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.features-subtitle {
  color: #9ea8b7;
  margin-top: 1.575rem;
  margin-bottom: 40px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 40.375rem;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.feature-card {
  max-width: 27.5rem;
  /* background: white; */
  border-radius: 12px;
  padding: 20px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.feature-icon {
  font-size: 30px;
  color: #e1eb23;
}

.features-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.features-subtext {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #666;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.5px;
}

@media (max-width: 600px) {
  .features-container {
    grid-template-columns: 1fr;
  }

  .features-buttons {
    flex-direction: column;
  }
}
