@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-primary: #3a5a92;
  --color-secondary: #6fa8dc;
  --color-buttons: #f2c94c;
  --color-background: #f5f5f5;
  --color-heading: #13294b;
  --color-paragraph: #7f8c8d;
  --color-soft: #dbe9f7;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
}
