@keyframes first {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.first {
  display: flex;
  animation: first 15s linear infinite;
}

@keyframes second {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.second {
  display: flex;
  animation: second 15s linear infinite;
}
